<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--/* declares the head fragment with 3 fragment parameters */-->
<head th:fragment="head(title, links, scripts)">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <!--/* replaces the title tag with the given title fragment */-->
    <title th:replace="${title}"></title>

    <!--/* default css */-->
    <link href="../../css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="/css/main.css"/>

    <!--/* placeholder for additional links which may be needed for some pages */-->
    <!--/* replaces this block with the given ${links} fragment */-->
    <th:block th:replace="${links}" />

    <!--/* default scripts */-->
    <script src="../../js/jquery.min.js" th:src="@{/js/jquery.min.js}"></script>
    <script src="../../js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>

    <!--/* placeholder for additional scripts which may be needed for some pages */-->
    <th:block th:replace="${scripts}" />
</head>
<body>

</body>
</html>
