<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org" th:fragment="html(head, content)">

<head th:replace="${head}"></head>

<body class="h-100 d-flex flex-column">

<header th:replace="fragments/header :: header"></header>

<div class="container flex-grow-1 py-3">
    <noscript th:fragment="javascript-disabled">
        <div class="alert alert-warning" role="alert" th:text="#{general.javascriptDisabled}"></div>
    </noscript>
    <th:block th:replace="${content}"/>
</div>

<footer th:replace="fragments/footer :: footer"></footer>

</body>
</html>
