.row-items {
    display: flex;
    flex-direction: row;
}

.tab-column {
    width: 100%;
    height: 83vh;
    border-right: 1px solid #dee2e6;
    float: none;
    overflow-x: hidden;
}

.title {
    text-align: center;
}