<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>My Curriculum</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>My Curriculum</h1>
	<p data-th-text="#{about.title}" />
	<h2>Degree Programs</h2>
	<table>
		<thead>
			<tr>
				<th>Name</th>
				<th>Degree</th>
				<th>Number of Semesters</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="degreeProgram : ${degreePrograms}">
				<td th:text="${degreeProgram.name}"/>
				<td th:text="${degreeProgram.degree}"/>
				<td th:text="${degreeProgram.numberOfSemesters}"/>
			</tr>
		</tbody>
	</table>
</body>
</html>