<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>My Curriculum</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" href="/css/main.css" />
</head>
<body>
	<h1>My Curriculum</h1>
	<p data-th-text="#{about.title}" />
	<h2 data-th-text="#{about.handbooks}"></h2>
	<table>
		<thead>
			<tr>
				<th data-th-text="#{about.name}"/>
				<th data-th-text="#{about.acronym}"/>
				<th data-th-text="#{about.degree}"/>
			</tr>
		</thead>
		<tbody>
			<tr th:each="curriculum : ${curriculum}">
				<td th:text="${curriculum.name}"/>
				<td th:text="${curriculum.acronym}"/>
				<td th:text="${curriculum.degree}"/>
			</tr>
		</tbody>
	</table>
</body>
</html>
