<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      th:replace="fragments/html :: html(~{this :: head}, ~{this :: #content})">
<head th:replace="fragments/head :: head(~{this :: title}, ~{}, ~{})">
    <title th:text="#{curriculumList.listOfCurricula}">My Curriculum</title>
</head>
<body>
<div id="content">
    <h1 th:text="#{curriculumList.listOfCurricula}"></h1>
    <hr class="pb-2"/>
    <!--   --------ADMIN FUNCTIONALITY--------  -->
    <div sec:authorize="isAuthenticated()">
        <form>
            <div class="row justify-content-center">
                <div class="col-md-3">
                    <label for="curriculum" th:text="#{curriculumList.curriculum}">Curriculum</label>
                    <input id="curriculum" type="text" class="form-control"/>
                </div>
                <div class="col-md-2">
                    <label for="newCurriculum" th:text="#{general.create}">Create</label>
                    <a id="newCurriculum" role="button" class="btn btn-primary mb-2" th:text="#{curriculumList.newCurriculum}" href="#" th:href="@{/curriculum/create}">New</a>
                </div>
            </div>
        </form>
    </div>
    <hr/>
    <div class="form-group form-row h6" sec:authorize="isAuthenticated()">
        <div class="col-md-4" th:text="'&nbsp;'+#{curriculumList.curriculum}">&nbsp;Curriculum</div>
        <div class="col-md-2" th:text="#{curriculumList.acronym}">Acronym</div>
        <div class="col-md-4" th:text="#{curriculumList.degree}">Degree</div>
    </div>
    <div>
        <div class="form-group form-row border p-1"
             th:each="curriculum : ${curricula}">
            <div class="col-md-4 my-1"> <a th:href="@{/exreg/list(curriculum=${curriculum.id})}" th:text="${curriculum.name}">-</a></div>
            <div class="col-md-2 my-1"> <a th:href="@{/exreg/list(curriculum=${curriculum.id})}" th:text="${curriculum.acronym}">-</a></div>
            <div class="col-md-4 my-1" th:text="${curriculum.degree}">-</div>
            <div class="col-md-2">
                <a role="button" class="btn btn-info float-right" th:text="#{exRegList.exRegList}" href="#" th:href="@{/exreg/list(curriculum=${curriculum.id})}">ExRegs</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>
