<!--suppress ThymeleafMessagesResolveInspection -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="fragments/html :: html(~{this :: head}, ~{this :: #content})">
<head th:replace="fragments/head :: head(~{this :: title}, ~{this :: .custom-css}, ~{})">
    <title th:text="#{exRegCreate.pageTitle}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <!--/* custom css */-->
    <link class="custom-css" rel="stylesheet" href="../static/css/error.css" th:href="@{/css/error.css}"/>
</head>
<body>
<div id="content">
    <p><h3  class="text-center">:(</h3></p>
    <h1><p class="text-center" th:text="#{error-500.message}">Ein interner Serverfehler ist eingetreten.</p></h1>
    <a href="/" th:text="#{error-404.return}"><p  class="text-center">Zurück zur Startseite.</p></a>
</div>
</body>
</html>
