<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="fragments/html :: html(~{this :: head}, ~{this :: #content})">
<head th:replace="fragments/head :: head(~{this :: title}, ~{this :: .custom-css}, ~{this :: .custom-script})">
    <title th:text="#{exregOverview.overviewTitle}">Insert title here</title>

    <link class="custom-css" rel="stylesheet" href="../static/css/exregOverview.css"
          th:href="@{/css/exregOverview.css}"/>

    <script class="custom-script" th:inline="javascript">
        var exRegModules = /*[[${exRegModules}]]*/{};
    </script>
    <script class="custom-script" src="../static/js/exregOverview.js" th:src="@{/js/exregOverview.js}"></script>
</head>
<body>
<div id="content" th:lang="${#locale}">
    <div th:if="${error != null}" class="alert alert-danger" role="alert" th:text="#{${error}}"></div>
    <th:block th:if="${error == null}">
        <h1 th:text="#{exregOverview.overviewTitle}">Modulübersicht</h1>
        <h3 th:text="${exreg.name}"></h3>
        <hr class="pb-2"/>
        <div class="table-responsive">

            <table class="table-module-overview">

                <thead class="text-white">
                <tr>
                    <th>Sem</th>
                    <th th:text="${exreg.name}" class="text-center" colspan="30"></th>
                </tr>
                </thead>

                <tfoot class="text-white">
                <tr>
                    <td>ECTS</td>
                    <td th:each="i : ${#numbers.sequence(1,30)}" th:text="${i}" class="ects"></td>
                </tr>
                </tfoot>

                <tbody>
                <tr th:each="i : ${#numbers.sequence(exRegSemester,1)}">
                    <td th:text="${i}" class="semester"></td>
                    <!--/*@thymesVar id="#module" type="rocks.turncodr.mycurriculum.model.Module"*/-->
                    <th:block th:each="m : ${exRegModules}" th:switch="${m.moduleType.ordinal()}"
                              th:if="${m.semester} == ${i}">
                        <td th:case="0"
                            th:id="${m.id}"
                            th:colspan="${m.credits}" class="module"
                            th:style="'background-color: rgb('+${m.areaOfStudies.colorRGB}+');'"
                            onclick="showModuleDetails(event);">
                            <p th:text="${m.title}" class="my-0 mx-1"></p>
                        </td>
                        <td th:case="1"
                            th:id="${m.id}"
                            th:colspan="${m.credits}" class="module"
                            th:style="'background-color: rgb('+${m.areaOfStudies.colorRGB}+');'"
                            th:onclick="|window.location.href='/exreg/syllabus?id=${exreg.id}#elective-module-anchor'|">
                            <p th:text="${m.title}" class="my-0 mx-1"></p>
                        </td>
                    </th:block>
                </tr>
                </tbody>

            </table>
        </div>
        <div>
            <table class="mt-4">
                <tr th:each="areaOfStudies : ${areaOfStudiesUsed}">
                    <td th:style="|background-color: rgb(${areaOfStudies.colorRGB}); width: 1rem|"></td>
                    <td th:text="${areaOfStudies.name}"></td>
                </tr>
            </table>
        </div>
    </th:block>
</div>
</body>
</html>
