<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="fragments/html :: html(~{this :: head}, ~{this :: #content})">
<head th:replace="fragments/head :: head(~{this :: title}, ~{}, ~{})">
    <title th:text="#{moduleList.pageTitle}">My Curriculum</title>
</head>
<body>
<div id="content">
    <h1 th:text="#{moduleList.pageTitle}">Modules</h1>
    <hr class="pb-2"/>
    <div>
        <form>
            <div class="row justify-content-center">
                <div class="col-md-2">
                    <label for="exreg" th:text="#{moduleList.exreg}">ExReg</label>
                    <input id="exreg" type="text" class="form-control"/>
                </div>
                <div class="col-md-2">
                    <label for="curriculum" th:text="#{moduleList.curriculum}">Curriculum</label>
                    <input id="curriculum" type="text" class="form-control"/>
                </div>
                <div class="col-md-3">
                    <label for="module" th:text="#{moduleList.module}">Module</label>
                    <input id="module" type="text" class="form-control"/>
                </div>
                <div class="col-md-2">
                    <label for="newModule" th:text="#{moduleList.createModule}">Create</label>
                    <a id="newModule" role="button" class="btn btn-primary mb-2" th:text="#{moduleList.newModule}"
                       href="#" th:href="@{/module/create}">New</a>
                </div>
            </div>
        </form>
    </div>
    <hr/>
    <div>
        <div class="form-group form-row border p-1"
             th:each="module : ${moduleList}">
            <div class="col-md-3">Gültigkeit ExReg</div>
            <div class="col-md-2">3WIB</div>
            <div class="col-md-5" th:text="${module.title}"></div>
            <div class="col-md-2">
                <button class="btn btn-info float-right">PDF</button>
                <button class="btn btn-info float-right mr-1">Edit</button>
            </div>
        </div>
    </div>
</div>
</body>
</html>
